# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Environment variables
.env

# uv lock file
uv.lock

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.swp

chromedriver